= form_failure_message @schedule
- url_path = @schedule.new_record? ? schedules_path : schedule_path
- method = @schedule.new_record? ? "post" : "put"
= form_for @schedule, url: url_path, html: { role: 'form', method: method } do |f|

  .form-group
    = f.label :date
    #datetimepicker1.input-group.date
      - date_schedule = @schedule ? (@schedule.date != 0 && @schedule.date) ? @schedule.date : '' : ''
      = f.text_field :date, {class: 'form-control', value: date_schedule}
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar
      
  .form-group
    = f.label :place
    .controls 
      = f.text_area :place, class: 'form-control'
  .form-group
    = f.label :mc_id
    .controls 
      = f.select :mc_id, options_for_select(@users, @schedule ? @schedule.mc_id : ''), {class: 'form-control'}
  .form-group
    = f.label :kultum_id
    .controls 
      = f.select :kultum_id, options_for_select(@users, @schedule ? @schedule.kultum_id : ''), {class: 'form-control'}
    .form-group
    = f.label :talaqi_id
    .controls 
      = f.select :talaqi_id, options_for_select(@users, @schedule ? @schedule.talaqi_id : ''), {class: 'form-control'}
  .form-group
    = f.label :materi_kultum_id
    .controls 
      = f.select :materi_kultum_id, options_for_select(@materi_kultums, @schedule ? @schedule.materi_kultum_id : ''), {class: 'form-control'}
  .form-group
    = f.label :materi_talaqi_id
    .controls 
      = f.select :materi_talaqi_id, options_for_select(@materi_talaqis, @schedule ? @schedule.materi_talaqi_id : ''), {class: 'form-control'}
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Back', schedules_path, class: 'btn btn-default'

:javascript
  $(function () {
  $('#datetimepicker1').datetimepicker();
  });
