%ul.nav.navbar-nav
  %li
    = link_to 'Dashboard', '#'
  - if current_admin.present?
    %li
      = link_to 'Anggota', users_path
    %li
      = link_to 'Materi Kultum', materi_kultums_path
    %li
      = link_to 'Materi Talaqi', materi_talaqis_path
    %li
      = link_to 'Schedule', schedules_path

- if current_admin.present?
  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to current_admin.email, edit_admin_registration_path
    %li.active
      = link_to 'Logout', destroy_admin_session_path, method: :delete