= form_failure_message @materi_talaqi
- url_path = @materi_talaqi.new_record? ? materi_talaqis_path : materi_talaqi_path
- method = @materi_talaqi.new_record? ? "post" : "put"
= form_for @materi_talaqi, url: url_path, html: { role: 'form', method: method } do |f|

  .form-group
    = f.label :tipe
    .controls 
      = f.text_field :tipe, placeholder: 'Type', class: 'form-control'
  .form-group
    = f.label :title, 'Judul'
    .controls 
      = f.text_field :title, placeholder: 'Judul Materi', class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Back', materi_talaqis_path, class: 'btn btn-default'
